* {
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

span {
  border: 1px solid white;
  box-sizing: border-box;
}

#top {
  height: 200px;
  width: 100%;
}

/* cell 30 * 30 */
#container {
  display: flex;
  height: 800px;
  width: 800px;
  margin: auto;
}

#game_window {
  height: 750px;
  width: 360px;
  background: lightgray;
  position: relative;
}

.grid {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
}

#description_container{
  min-width: 400px;
  overflow: hidden;
}

#description_container::after{
  content: '';
  display: table;
  clear: both
}

#next_block {
  position: relative;
  width: 200px;
  height: 200px;
  float:left;
}

#next_block > div {
  font-family: sans-serif;
  font-weight: 700;
  margin: 10px;
}

#score {
  padding: 20px;
  height: 200px;
}

button:hover {
  color: gray;
}
button:active {
  color: white;
  background: blue;
}

.start {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 25px;
  font-weight: 600;
  background-color: skyblue;
  color: white;
  outline: none;
  cursor: pointer;
}

.stop {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 25px;
  font-weight: 600;
  background-color: skyblue;
  color: white;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}

.block_span {
  position: absolute;
  display: block;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.bar {
  background: red;
}

.ㅁ {
  background: yellow;
}

.L {
  background: green;
}

.ㄱ {
  background: blue;
}

.z {
  background: black;
}

.s {
  background: purple;
}

.ㅗ {
  background: orange;
}

.break {
  animation: blink 0.2s linear infinite;
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}